#principal {
    background-color: #eeeeee;
    /*font-color:white;*/
    padding: 20px;
    width: 400px;
    margin: 0 auto;

    text-align:center;
}

#principal form input {
    /*width:;*/
    margin: 10px;
}

#mensagem {
    background-color: #FDFF88;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

.erro {
    background-color: #ff4d4d;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

#botoes {
    background-color: #D9D9D9;
    width: 250px;
    /*left: 50%;*/
    /*width:50%;*/
    margin: 0 auto;
}
